body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: url("../image/admin_dashboard.svg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 3em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px #000000;
}



li {
  background: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}



.back-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  width: auto;
  border-radius: 5px;
  background: #de3f0f;
  color: #000;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
