body {
  font-family: Arial, sans-serif;
}

div {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
button {
  padding: 10px;
  margin: 5px 0;
  display: block;
}

#editFormContainer {
  display: none;
}
