body {
  font-family: Arial, sans-serif;
  background-image: url("../image/admin_background.webp");
  background-size: cover;
}

.admin-management {
  margin: 100px auto;
  width: 400px;
  padding: 20px;
  background: rgba(172, 112, 9, 0.8);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#error {
  color: red;
  margin-bottom: 10px;
}
